Flask
pandas
numpy
pdfplumber
python-docx
beautifulsoup4==4.12.3
requests==2.31.0
mysql-connector-python==8.2.0
spacy==3.7.2
transformers==4.36.0
sentence-transformers==2.2.2
scikit-learn==1.3.2
pypdf==4.0.0
duckduckgo_search
shap
docx2pdf
google-generativeai
python-dotenv